# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

# Only the last two Go releases are supported by the Go team with security
# updates. Any older versions be considered deprecated. Don't bother testing
# with them.
go:
  - 1.x

# Only clone the most recent commit.
git:
  depth: 1

# Skip the install step. Don't `go get` dependencies. Only build with the code
# in vendor/
install:
  - |
    for a in `ls src/`; do
      cd src/$a && dep ensure;
    done

# Don't email me the results of the test runs.
notifications:
  email: false

# Anything in before_script that returns a nonzero exit code will flunk the
# build and immediately stop. It's sorta like having set -e enabled in bash.
# Make sure golangci-lint is vendored by running
#   dep ensure -add github.com/golangci/golangci-lint/cmd/golangci-lint
# ...and adding this to your Gopkg.toml file.
#   required = ["github.com/golangci/golangci-lint/cmd/golangci-lint"]
before_script:
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - chmod +x $GOPATH/bin/dep
  - cd /tmp
  - curl https://github.com/golangci/golangci-lint/releases/download/v1.4.1/golangci-lint-1.4.1-linux-amd64.tar.gz -o/tmp/golangci-lint.tar.gz
  - tar zxvf /tmp/golangci-lint.tar.gz golangci-lint-1.4.1-linux-amd64/golangci-lint
  - chmod +x golangci-lint-1.4.1-linux-amd64/golangci-lint
  - cp golangci-lint-1.4.1-linux-amd64/golangci-lint /bin/
  - cd



# script always runs to completion (set +e). If we have linter issues AND a
# failing test, we want to see both. Configure golangci-lint with a
# .golangci.yml file at the top level of your repo.
script:
  - |
    for a in `ls src`; do
      echo $a;
      cd src/$a;
      golangci-lint run;       # run a bunch of code checkers/linters in parallel
      go test -v -race ./...;  # Run all the tests with the race detector enabled
      cd ..
    done